.bgbox {
  background-color: Transparent;
  color: black;
  padding: 10px;
  border-color: white;
  width: 250px;
  height: 240px;
  margin: 15px 0px;
  border-radius: 25px;
  border: 5px solid blueviolet;
}

.aboutbgbox {
  background-color: Transparent;
  color: black;
  padding: 10px;
  border-color: white;
  width: 250px;
  height: 225px;
  margin: 13px 0px;
  border-radius: 25px;
  border: 5px solid aqua;
}


.projectbgbox {
  background-color: Transparent;
  color: black;
  padding: 10px;
  border-color: white;
  width: 250px;
  height: 210px;
  margin: 15px 0px;
  border-radius: 25px;
  border: 5px solid gold;
  text-align: left;
}


.pwbgbox {
  background-color: Transparent;
  color: black;
  padding: 10px;
  border-color: white;
  width: 250px;
  height: 220px;
  margin: 15px 0px;
  border-radius: 25px;
  border: 5px solid chartreuse;
}


.button {
border-radius: 25px;
 outline: none;
 box-shadow: none;
 color: black;
 background-color: Transparent;
  border: 5px solid white;
  margin: 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  cursor: ;
  width: 160px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

body.loaded .fadein {
    opacity: 1;
}

.githubbutton {
  border-color: black;
  
}

.deviobutton {
  border-color: red;
  
}

.contactmebutton {
  border-color: green;
  
}

.projectsbutton {
  border-color: orange;
  
}


.discordbutton {
  border-color: blue;
  
}

p { font-family: 'Roboto', sans-serif; }


a { font-family: 'Roboto', sans-serif; color: purple; text-decoration: none; }
 


.githubbutton {
  transition-duration: 0.4s;
}

.githubbutton:hover {
  background-color: black; 
  color: white;
}



.deviobutton {
  transition-duration: 0.4s;
}

.deviobutton:hover {
  background-color: red; 
  color: white;
}


.contactmebutton {
  transition-duration: 0.4s;
}

.contactmebutton:hover {
  background-color: green; 
  color: white;
}


.projectsbutton {
  transition-duration: 0.4s;
}

.projectsbutton:hover {
  background-color: orange; 
  color: white;
}

.discordbutton {
  transition-duration: 0.4s;
}

.discordbutton:hover {
  background-color: blue; 
  color: white;
}

.button:active {
  outline: none;
}
